<div>
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="spacing">
          <div class="create-post">
            <form (submit)="$event.preventDefault(); addPost(postContent.value)">
              <div class="form-group">
                <label class="sr-only" for="postContent"></label>
                <textarea #postContent class="form-control smallfont" id="postContent"
                  placeholder="What are you doing right now?" rows="3"></textarea>
              </div>
              <div class="d-flex">
                <button class="btn btn-light btn-sm mr-2" data-toggle="tooltip" data-placement="top"
                  title="Currently unavailable." disabled>
                  <i class="fa fa-file-image-o mr-1" aria-hidden="true"></i>
                  Image
                </button>
                <button class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top"
                  title="Currently unavailable." disabled>
                  <i class="fa fa-file-video-o mr-1" aria-hidden="true"></i>
                  Video
                </button>
                <button class="btn btn-primary btn-sm button-1" type="submit">
                  <i class="fa fa-plus-square mr-1" aria-hidden="true"></i>
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="posts?.length === 0" class="container">
        <h1 class="mt-5">No posts here! :/</h1>
        <p class="lead">There are no posts yet! Go ahead and add some.</p>
      </div>
      <!-- Render posts -->
      <app-post *ngFor="let post of posts" [post]="post" class="posts"></app-post>
    </div>
  </div>
</div>