.container--margin-top {
  margin-top: 5rem;
}

.smallfont {
  font-size:12px;
}

nav {
  background-color: white;
}

.color {
  color: black;
}

.navbar {
  border-bottom: 1px solid#DFDFDF;
}


.navButton:hover {
  background: #085CB1;
  color: white;
}