<div *ngIf="post != null" class="post">
<div class="card posts">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center">
              <div class="mr-3">
                  <img class="rounded-circle" width="40" src="../../../assets/default-avatar.png" alt="Avatar">
              </div>
              <div>
                  <div class="smallfont" ><b>{{post.author}}</b></div>
                <div class="text-muted smallfont-1">{{post.timestamp}}</div>
              </div>
          </div>
          <app-votes></app-votes>
      </div>
    </div>
          <p class="mt-3 content">
              {{post.content}}
          </p>
          <div class="card-footer">
            <button class="btn btn-sm" disabled data-toggle="tooltip" data-placement="top"
            title="Currently unavailable.">
                <i class="fa fa-weixin mr-1" aria-hidden="true"></i>

              Comment</button>
          </div>
      </div>
</div>